<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.iu.e1.product.ProductVO" alias="ProductVO"/>
  		<typeAlias type="com.iu.e1.campaign.CampaignVO" alias="CampaignVO"/>
  		<typeAlias type="com.iu.e1.notice.NoticeVO" alias="NoticeVO"/>
  		<typeAlias type="com.iu.e1.event.EventVO" alias="EventVO"/>
  		<typeAlias type="com.iu.e1.spa.SpaVO" alias="SpaVO"/>
  		<typeAlias type="com.iu.e1.hire.HireVO" alias="HireVO"/>
  		<typeAlias type="com.iu.e1.member.MemberVO" alias="MemberVO"/>
  		<typeAlias type="com.iu.e1.qna.QnaVO" alias="QnaVO"/>
        <typeAlias type="com.iu.e1.inquiry.InquiryVO" alias="InquiryVO"/>
  		
  	</typeAliases>
  </configuration>