<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iu.e1.event.EventRepository">

   <!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ관리자 페이지 시작ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
   <insert id="setInsertEvent" parameterType="EventVO" useGeneratedKeys="true" keyProperty="num">
      insert into event values(#{num}, #{title}, #{term}, #{contents}, 0, 0, now())
   </insert>
   
   <insert id="setInsertWinner" parameterType="EventVO" useGeneratedKeys="true" keyProperty="num">
      insert into event(num, title, contents, hits, state, regDate) values(#{num}, #{title}, #{contents}, 0, 1, now());
   </insert>
   
   <delete id="setDelete" parameterType="EventVO">
      delete from event where num=#{num}
   </delete>
   
    <update id="setUpdate" parameterType="EventVO">
      update event set title=#{title}, contents=#{contents} where num=#{num}
   </update>
   <!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ관리자 페이지 끝ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
   
   <select id="getSelectFinishList" parameterType="Pager2" resultType="EventVO">
   		select * from event
			where state=2 and
					<choose>
					<when test="kind == 'title'">
						UPPER(title)
					</when>
					<otherwise>
						UPPER(contents)
					</otherwise>
				</choose>
				like upper(concat('%', #{search}, '%'))
			order by num desc
		limit #{startRow}, #{perPage}
   </select>
   
   <select id="setSelectFinishList" parameterType="Pager2" resultType="EventVO">
   		select * from event
			where state=2 and
					<choose>
					<when test="kind == 'title'">
						UPPER(title)
					</when>
					<otherwise>
						UPPER(contents)
					</otherwise>
				</choose>
				like upper(concat('%', #{search}, '%'))
			order by num desc
		limit #{startRow}, #{perPage}
   </select>
   
   
   
   <select id="getSelectEventList" parameterType="Pager2" resultType="EventVO">
   		select * from event
			where state=0 and
					<choose>
					<when test="kind == 'title'">
						UPPER(title)
					</when>
					<otherwise>
						UPPER(contents)
					</otherwise>
				</choose>
				like upper(concat('%', #{search}, '%'))
			order by num desc
		limit #{startRow}, #{perPage}	
   </select>
   
   <select id="setSelectEventList" parameterType="Pager2" resultType="EventVO">
   		select * from event
			where state=0 and
					<choose>
					<when test="kind == 'title'">
						UPPER(title)
					</when>
					<otherwise>
						UPPER(contents)
					</otherwise>
				</choose>
				like upper(concat('%', #{search}, '%'))
			order by num desc
		limit #{startRow}, #{perPage}	
   </select>
   
   <select id="getSelectWinnerList" resultType="EventVO" parameterType="Pager2">
      select * from event
			where state=1 and
					<choose>
					<when test="kind == 'title'">
						UPPER(title)
					</when>
					<otherwise>
						UPPER(contents)
					</otherwise>
				</choose>
				like upper(concat('%', #{search}, '%'))
			order by num desc
		limit #{startRow}, #{perPage}
   </select>
   
   
   <select id="setSelectWinnerList" resultType="EventVO" parameterType="Pager2">
      select * from event
			where state=1 and
					<choose>
					<when test="kind == 'title'">
						UPPER(title)
					</when>
					<otherwise>
						UPPER(contents)
					</otherwise>
				</choose>
				like upper(concat('%', #{search}, '%'))
			order by num desc
		limit #{startRow}, #{perPage}
   </select>
   
   
   
   <select id="getCountWinnerList" resultType="Integer">
   		select count(*) from event where state=1
   </select>
   
   <select id="getSelectOne" parameterType="EventVO" resultType="EventVO">
      select * from event where num=#{num}
   </select>
   
   <update id="setHitsUpdate" parameterType="EventVO">
      update event set hits=hits+1 where num=#{num}
   </update>
   
   <select id="geteventListCount" resultType="Integer">
			select count(*) from event where state=0
   	</select>
	
	<select id="getfinishListCount" resultType="Integer">
			select count(*) from event where state=2
	</select>
</mapper>
