<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.e1.payment.PaymentRepository">
     <insert id="getInsert" parameterType="PaymentVO">
        insert into payment
        values(0, #{user_id}, #{payment_name}, #{payment_price}, #{payment_amount}, #{payment_group})
     </insert>
     
     <select id="getSelect" parameterType="MemberVO" resultType="PaymentVO">
        select * from payment
        where user_id=#{id}
     </select>
  </mapper>