<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.e1.shopInfo.ShopInfoRepository">
  	<select id="shopInfoList" parameterType="Pager2" resultType="ShopInfoVO">
		select * from shopinfo
			where
					<choose>
					<when test="kind == 'name'">
						UPPER(name)
					</when>
					<otherwise>
						UPPER(address)
					</otherwise>
				</choose>
				like upper(concat('%', #{search}, '%'))
			order by num desc
		limit #{startRow}, #{perPage}	
	</select>
	
	<select id="getCount" resultType="Integer">
			select count(*) from shopinfo
	</select>
	
	<select id="getInfoList" parameterType="Pager2" resultType="ShopInfoVO">
		select * from 
			(select num n, si.* from
					(select * from shopinfo
					where
					
					<choose>
						<when test="kind == 'name'">
							UPPER(name)
						</when>
						<otherwise>
							UPPER(address)
						</otherwise>
					</choose>
					
					like upper('%' || #{search} || '%')
					order by num desc
					)
				si
				)a
			where n limit #{startRow}, #{perPage}
	</select>
	
	
	<select id="shopInfoSelect" resultType="ShopInfoVO">
		select * from shopInfo where num=#{num}
	</select>
  
  </mapper>